{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
